.depoimentos {
  display: flex;
  flex-derection: column;
  justify-content: center;
  alingn-items: center;
  height: 100vh;
  margin-top: 60px;
  padding: 80px;
  position: relative;
}

img {
  border-radius: 10px;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}
