.navbar {
  position: fixed;
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-left: 10px;
}

.log-image {
  height: 40px;
  margin-right: 10px;
}
