<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <span>Cursos</span>
      <br>
      <br>
      <h2>Master Fibra</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx "></i></div>
          <h4 class="title"><a href="">Alongamento</a></h4>
          <p class="description">
            Aprenda as técnicas fundamentais para criar 
            unhas longas e elegantes, utilizando diferentes 
            métodos e materiais de alongamento.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Aplicação em Gel</a></h4>
          <p class="description">
            Domine a aplicação perfeita de unhas em gel, aprendendo a 
            esculpir e modelar com precisão, criando resultados 
            duradouros e de alta qualidade.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Remoção</a></h4>
          <p class="description">
            Aprenda as melhores práticas para remover as unhas em 
            gel de forma segura e eficiente, preservando a saúde
            das unhas naturais e evitando danos indesejados.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Manutenção</a></h4>
          <p class="description">
            Aprenda a realizar a manutenção adequada das unhas em gel, 
            garantindo a durabilidade e o aspecto impecável, além de 
            conhecer as técnicas de reparo e prevenção de danos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End My Services Section -->
