<!-- ======= About Me Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <span>Letícia Reimche</span>
      <br>
      <br>
      <p>Master Elite em Alongamentos Bruyecruuspt</p>
    </div>
    <div class="row">
      <div class="image col-sm-6 d-flex align-items-stretch justify-content-center justify-content-lg-start">
        <img src="./assets/img/banner.png" alt="banner">
      </div>
      <div class="col-sm-6 d-flex flex-column align-items-stretch">
        <div class="content ps-lg-4 d-flex flex-column justify-content-center">
          <div class="wrap mt-n4">
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile" style="color: #20b38e;"></i>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Clientes Felizes</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock" style="color: #2cbdee;"></i>
                <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Anos de experiência</strong> aut commodi quaerat modi aliquam nam ducimus aut voluptate non vel</p>
              </div>
            </div>
            <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-award" style="color: #ffb459;"></i>
                <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Comprometimento</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>
  </div>
</section><!-- End About Me Section -->
