.certificado {
  display: flex;
  flex-derection: column;
  justify-content: center;
  alingn-items: center;
  height: 100vh;
  margin-top: 10px;
  padding: 40px;
  position: relative;
}
img {
  border-radius: 10px;
}
