<app-navbar
  (homeClick)="scrollToHome()"
  (instructorClick)="scrollToInstructor()"
  (courseClick)="scrollToCourse()"
  (certificationClick)="scrollToCertification()"
  (guaranteeClick)="scrollToGuarantee()"
  (depositionsClick)="scrollToDepositions()"
  (doubtsClick)="scrollToDoubts()"
  (priceClick)="scrollToPrice()"
></app-navbar>
<app-home #homeSection></app-home>
<app-instructor #instructorSection></app-instructor>
<br>
<app-course #courseSection></app-course>
<br>
<app-certification #certificationSection></app-certification>
<br>
<app-guarantee #guaranteeSection></app-guarantee>
<br>
<app-depositions #depositionsSection></app-depositions>
<br>
<app-doubts #doubtsSection></app-doubts>
<br>
<app-price #priceSection></app-price>
<br>
<app-footer></app-footer>
