.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.logo {
  text-align: left;
  margin-top: 2px;
  max-height: 50px;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration:none;
  color: black;
}