.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  text-align: left;
  margin: 2px 4px;
  max-height: 50px;
}

.navbar ul li a {
  display: flex;
  margin-left: 10px;
  align-items: right;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
}

