<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>Sobre o curso!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
          </p>
          <div class="text-center">
            <a href="https://api.whatsapp.com/send/?phone=555584316399&text=Ol%C3%A1%2C+gostaria+de+informa%C3%A7%C3%B5es+sobre+cursos&type=phone_number&app_absent=0" target="_blanck" class="more-btn">Entre em contato <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->
      <div class="col-lg-8 d-flex align-items-center">
        <div class="row gy-4">
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard"></i>
              <h4>Aplicação em Gel</h4>
              <p>Domine a aplicação perfeita de unhas em gel, aprendendo a esculpir e modelar 
                com precisão, criando resultados duradouros e de alta qualidade.
              </p>
            </div>
          </div><!-- End Icon Box -->
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-gem"></i>
              <h4>Manutenção das Unhas</h4>
              <p>
                Aprenda a realizar a manutenção adequada das unhas em gel, 
                garantindo a durabilidade e o aspecto impecável, além de 
                conhecer as técnicas de reparo e prevenção de danos.
              </p>
            </div>
          </div><!-- End Icon Box -->
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-inboxes"></i>
              <h4>Remoção de Unhas</h4>
              <p>
                Aprenda as melhores práticas para remover as unhas 
                em gel de forma segura e eficiente, preservando a 
                saúde das unhas naturais e evitando danos indesejados.
              </p>
            </div>
          </div><!-- End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section><!-- End Why Us Section -->
