<div class="duvidas">
  <h2>Tire Suas Dúvidas - Estamos Aqui para Ajudar!</h2>
  <p>
    Entendemos que você possa ter algumas dúvidas sobre 
    nosso serviço e estamos aqui para fornecer todas as 
    respostas de que você precisa. Queremos garantir que 
    você se sinta confiante em relação à qualidade e ao 
    valor que oferecemos. Abaixo, abordamos algumas das 
    perguntas mais comuns que nossos clientes têm:
  </p>
  <h2>Como funciona o nosso serviço?</h2>
  <p>
    Nosso serviço de alongamentos de unhas em gel é oferecido por 
    meio de um curso online abrangente. Você terá acesso a vídeoaulas, 
    demonstrações práticas, materiais de apoio e suporte contínuo. 
    Tudo é projetado para ajudá-lo(a) a aprender as técnicas de 
    alongamento de unhas em gel de forma eficaz e conveniente.
  </p>
  <h2>Qual é o nível de experiência necessário para participar do curso?</h2>
  <p>
    Nosso curso é adequado para todos os níveis, desde iniciantes até 
    profissionais que desejam aprimorar suas habilidades. Nossas aulas 
    são estruturadas de forma a fornecer uma base sólida para iniciantes 
    e também abordam técnicas avançadas para aqueles que já têm experiência na área.
  </p>
  <h2>Quais materiais e equipamentos são necessários?</h2>
  <p>
    Ao se inscrever, forneceremos uma lista detalhada de todos 
    os materiais e equipamentos necessários para realizar os 
    alongamentos de unhas em gel. Isso inclui produtos específicos, 
    como géis, pincéis, lâmpadas UV/LED e outros itens essenciais. 
    Estamos sempre disponíveis para ajudar a esclarecer quaisquer 
    dúvidas relacionadas a esses materiais.
  </p>
  <h2>Como é o suporte ao aluno?</h2>
  <p>
    Nossa equipe está pronta para ajudar e responder a todas as 
    suas dúvidas relacionadas ao curso. Temos canais de suporte 
    dedicados, como e-mail e fóruns de discussão, nos quais você 
    pode interagir com instrutores e outros alunos. Estamos 
    comprometidos em oferecer um suporte de qualidade para garantir
    que você tenha uma experiência de aprendizado excepcional.
  </p>
  <h2>E se eu não ficar satisfeito(a) com o curso?</h2>
  <p>
    Se você não estiver satisfeito(a) com nosso curso de alongamentos 
    de unhas em gel, oferecemos uma garantia de reembolso de 7 dias.
    Basta entrar em contato conosco dentro desse prazo e faremos o 
    reembolso integral do valor investido.
  </p>
  <p>
    Esperamos que essas respostas tenham esclarecido algumas de suas dúvidas. 
    Estamos aqui para ajudá-lo(a) em sua jornada de aprendizado e oferecer 
    suporte a cada passo do caminho. Não hesite em entrar em contato conosco 
    se tiver mais perguntas. Estamos ansiosos para ajudá-lo(a) a se tornar um(a) 
    especialista em alongamentos de unhas em gel!
  </p>
</div>
